<title><%= title %></title>

<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css"/>
<link rel="stylesheet" href="/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css"/>
<link rel="stylesheet" href="/stylesheets/generic.css"/>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>