<title><%= title %></title>

<link rel='stylesheet' href="bootstrap/dist/css/bootstrap.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/databases/indexedDB.js" type="module"></script>