<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head'); %>

    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/javascripts/index/index.js" type="module"></script>
    <script src="/javascripts/index/jobSocket.js" type="module"></script>
</head>
<body>
    <%- include('components/navbar'); %>
    <div class="text-center pt-5">
        <h1 class="display-4">Jobs</h1>
        <svg data-toggle="modal" data-target="#addJob" xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 24 24" width="50"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/></svg>
    </div>
    <div class="container pt-5">
        <div class="card-columns" id="job-list-container"></div>
    </div>

    <!-- Modal -->
    <%- include('components/modalForm', {addingJob: true, ID: 'addJob', title: 'Add a Job', submitText: 'Add Job'}); %>
</body>
</html>