<!DOCTYPE html>
<html>
<head>
    <%- include('components/head'); %>

    <link rel='stylesheet' href='/stylesheets/index.css'/>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/index/index.js"></script>
</head>
<body>
    <%- include('components/navbar'); %>
    <div class="text-center pt-5">
        <h1 class="display-4">Jobs</h1>
    </div>
    <div class="container pt-5">
        <div class="card-columns" id="job-list-container"></div>
    </div>
</body>
</html>