.card-columns {
  column-count: 3;
}

.square-image {
  display: flex;
  overflow: hidden;
}
.square-image::before {
  content: '';
  padding-bottom:100%;
}
.square-image img{
  width: 100%;
  object-fit: cover;
}