.card-columns {
  column-count: 3;
}
#add-job-button {
  cursor: pointer;
}
#add-job-button:hover {
  fill: gray;
}

/* make the search input the same height as button */
#search-bar {
  height: 40px;
}
#search-bar:focus {
  color: #495057;
  background-color: #fff;
  border-color: black;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 25%);
}

.square-image {
  display: flex;
  overflow: hidden;
}
.square-image::before {
  content: '';
  padding-bottom:100%;
}
.square-image img{
  width: 100%;
  object-fit: cover;
}

.alert {
  pointer-events: all;
}