.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(1) grayscale(100);
}
.job-image {
    max-height: 500px;
    object-fit: contain;
    display: flex;
    justify-content: center;
}
.job-image > * {
    max-height: 500px;
    max-width: 100%;
}

.annotation-container img {
    position: absolute;
    z-index: 0;
}

.annotation-container canvas {
    z-index: 1;
}

.text-box {
    max-height: 300px;
}
.chat-box {
    table-layout: fixed;
}
.left, .right, .add {
    display: none;
}
.add {
    cursor: pointer;
}